/* H1–H4 */
.bd-content h1 {
    color: #1A4A73;
    font-size: 2.1rem;
}

.bd-content h2 {
    color: #2B6CA3;
    font-size: 1.7rem;
}

.bd-content h3 {
    color: #3B82B9;
    font-size: 1.3rem;
}

.bd-content h4 {
    color: #4C9CD6;
    font-size: 1.1rem;
}

/* Fix para fórmulas MathJax cortadas */
.math, .MathJax, .MathJax_Display, mjx-container {
    overflow: visible !important;
    line-height: 1.6 !important;
}

/* Asegurar que los párrafos con fórmulas no las corten */
p:has(.math), p:has(mjx-container), li:has(.math) {
    overflow: visible !important;
    line-height: 1.8 !important;
}

/* Margen extra para fórmulas display */
div.math, .MathJax_Display, mjx-container[display="true"] {
    margin: 1em 0 !important;
    padding: 0.2em 0 !important;
}



img[alt=fig1]{
    width: 600px; 
    height: 300px;
}

img[alt=fig2]{
    width: 800px; 
    height: 300px;
}

img[alt=fig3]{
    width: 500px;
    height: 200px; 
}

img[alt=fig4]{
    width: 700px;
    height: 200px;
}

img[alt=fig5]{
    width: 600px;
    height: 200px;
}

img[alt=fig6]{
    width: 700px;
    height: 400px;
}

img[alt=fig7]{
    width: 800px;
    height: 200px;
}

img[alt=fig8]{
    width: 600px;
    height: 250px;
}

img[alt=fig9]{
    width: 800px;
    height: 250px;
}

img[alt=fig10]{
    width: 700px;
    height: 150px;
}

img[alt=fig11]{
    width: 650px;
    height: 200px;
}

img[alt=fig12]{
    width: 700px;
    height: 90px;
}